---
BasedOnStyle: LLVM
AccessModifierOffset: -4
AlignArrayOfStructures: Right
AllowShortBlocksOnASingleLine: Always
AllowShortCaseLabelsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortLoopsOnASingleLine: true
AlwaysBreakTemplateDeclarations: No
AttributeMacros:
  - UNUSED
BreakArrays: false
ColumnLimit : 0
EmptyLineBeforeAccessModifier: Never
ForEachMacros:
  - LOOP
IncludeCategories:
  - Regex: ^".*"
    Priority: 1
    SortPriority: 1
    CaseSensitive: false
  - Priority: 0
    CaseSensitive: false
    SortPriority: 0
    Regex: ^<.*>
IndentWidth: 4
IndentWrappedFunctionNames: true
InsertBraces: true
InsertNewlineAtEOF: true
PointerAlignment: Left
RequiresClausePosition: SingleLine
TabWidth: 4
